@media only screen and (max-width: 1245px){
  .products-main-wrapper {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 1111px) {
  .products-third {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
  }
}
@media only screen and (max-width: 971px) {
  .container {
    padding: 2rem;
  }
  .about {
    margin: 2rem 2rem;
  }
  .about-text h1 {
    font-size: 3rem;
    letter-spacing: .1rem;
  }
  .services-section {
    padding: 2rem;
  }
}
@media only screen and (max-width: 927px){
  .products-main-wrapper {
    flex-direction: column;
  }
  .products-first, .products-second {
    align-self: center;
  }
  .features-left {
    padding: 2rem 5rem 2rem 3rem;
  }
}
@media only screen and (max-width: 865px) {
  .about {
    padding-top: 5rem;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .about-text p {
    font-size: 2rem;
  }
  .about-product {
    margin-top: 2rem;
  }
  nav ul li a {
    padding: .1rem;
  }
  .services p {
    padding-top: .5rem;
    font-size: 1.2rem;
    word-spacing: .1rem;
  }
 
}
@media only screen and (max-width: 730px) {
  .main-heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .services-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-container .services {
    margin-bottom: 2rem;
  }
  .services p {
    padding-top: 1rem;
    font-size: 1.8rem;
    word-spacing: .2rem;
  }
}
@media only screen and (max-width: 623px) {
  .features-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features-left {
    margin-top: 3rem;
    margin-bottom: -10rem;
  }
  .services-section {
    margin-bottom: -7rem;
  } 
  .features {
    margin-top: -6rem;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 52.5%;
  }
  nav ul{
    flex-direction: column;
  }
nav ul li a {
 text-align: left;
 font-size: 2rem;
}